
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/vistaAdmin.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VistaAdministrador</title>
    <link rel="shortcut icon" href="/images/Logo.png">
</head>
<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>
    
</br>
</br>
</br>
</br>
</br>
</br>
    </br>
    <form action="/products/productList" method="POST" enctype="multipart/form-data">
        <div class="conteiner-agregado">
        </br>
            <input type="text" placeholder="Titulo" class="titulo" name="name" required></input>
        </br>
        </br>
        <div class="imagen-agregado" name="imagen-agregado"> 
        </br>
                 <i class="fas fa-download"></i>
        </div>
        <div><input type="file" name="image" required></div>
    </br>
<<<<<<< HEAD
        <textarea name="descripcion" id="descripcion" cols="30" rows="10" class="text-area" placeholder="Descripcion completa." required></textarea>
=======
            <textarea name="description" id="descripcion" cols="30" rows="10" class="text-area" placeholder="Descripcion completa." required></textarea>
>>>>>>> e520312cdcaed33132db285f08740104ed1a62e2
        <input type="submit"> </input> 
        </div>
    </form>
    <!-- Footer  -->
</body>

<%- include('../partials/footer.ejs') %>
<%- include('../partials/footerdos.ejs') %>
</html>