<!DOCTYPE html>
<html lang="en">

<head>
    <link href="/css/vistaAdmin.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VistaAdministrador</title>
    <link rel="shortcut icon" href="/images/Logo.png">
</head>

<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>

    </br>
    </br>
    </br>
    <div class="centrado">
    <form clase="form" action="/products/productList" method="POST" enctype="multipart/form-data" id="form">

    <div class="centrado1">
        <ul class="errors" id="errors">
        </ul>
    </div>
            </br>
            <input type="text" placeholder="Nombre del producto" class="titulo" name="name" id="name"></input>
            </br>
            <input type="text" placeholder="Precio" class="titulo" name="price" id="price"></input>
            </br>
            </br>
            <div class="imagen-agregado" name="imagen-agregado" id="imagen-agregado">
                </br>
                <i class="fas fa-download"></i>
                
            </div>
            <div>
                <input type="file" name="image" class="titulo" value="<%= locals.oldData ? oldData.image : null %>"required>
                <% if (locals.errors && errors.image){ %>
                <div class="error-msg">
                    <%= errors.image.msg %>
                </div>
                <% } %>
            </div>
            </br>
            <textarea name="description" id="descripcion" cols="30" rows="10" class="text-area"
                placeholder="  Descripcion completa." id="description"></textarea>
            </br>
            <input type="submit" value="Agregar" class="wallpaper-button titulo">
            </br>
        </br>
    </form>
</div>
</br>
</br>
</br>
</br>

<script src="/js/productsValidation.js"></script>

<%- include('../partials/footer.ejs') %>

</body>

</html>
