<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto Mobile</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productDetail.css"></link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/16958e3fbc.js" crossorigin="anonymous"></script>
</head>

<body>
        <!-- header  -->
    <%- include('../partials/header.ejs') %>

        <!-- <nav class="parte-arriba">
            <ul class="segundo">
                <li><img src="/images/Logo.png" class="Logo"></li>
                <li><i class="fas fa-times-circle"></i></li>
            </ul>
         </nav>

         
         <nav class="parte-arriba2">
            <ul class="segundo2">
                <li><img src="/images/Logo.png" class="Logo"></li>
                <form class="busqueda" action="" method="post" target="_blank" >
                      <input class="busquedamodelos" type="search" name="busquedamodelos" list="listamodelos">
                      <input type="submit" value="Buscar">
                  </form>
                  
                  <datalist id="listamodelos">
                  
                    <option value="PC">
                  
                    <option value="Notebook">
                  
                    <option value="Accesorios">
                  
                    <option value="Más">
                  
                  </datalist>
                <li class="orden">
                    <a class="navigation-bar-button" href="" type="submit">
                        <i class="fa-solid fa-house navigation-bar-icon"></i>
                    </a>
                    <a class="navigation-bar-button" href="" type="submit">
                        <i class="fa-solid fa-heart navigation-bar-icon"></i>
                    </a>
                    <a class="navigation-bar-button" href="" type="submit">            
                        <i class="fa-solid fa-cart-shopping navigation-bar-icon"></i>
                    </a>
                    <a class="navigation-bar-button" href="" type="submit">
                        <i class="fa-solid fa-user navigation-bar-icon"></i>
                    </a>
                </li>
            </ul>
         </nav> -->

         
    <div class="conteiner">
    <img src="images/PrimerComponente.png" alt="Imagen1" class="imagen">
    <div><h2>Precio: $27.000</h2></div>
    <div><h1>Motherboard Asus</h1></div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore adipisci quis beatae porro architecto tenetur suscipit deserunt, dolorem recusandae corrupti eaque. Deserunt, harum reiciendis. Praesentium vero perferendis exercitationem repellat distinctio.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, libero. Nihil, asperiores iure? Non voluptates sunt vero eligendi? Modi reprehenderit omnis libero fugiat a cum ratione, tempora necessitatibus consectetur labore.</p>
        
    </div>
    <h2 class="soloMobile">Comprar</h2>
    
    <div class="iconosCompras">
        <i class="fas fa-cart-plus"></i>
        <i class="fas fa-bookmark"></i>
    </div>
    


   <!-- Footer  -->
    <%- include('../partials/footer.ejs') %>


    <nav class="text">
        <ul class="nav-pc">
            <li>Hypertexto1</li>
            <br/>
            <li>Hypertexto1</li>
            <br/>
            <li>Hypertexto1</li>
            <br/>
            <div class="textocentro">
            <li>Hypertexto1</li>
            <br/>
            <li>Hypertexto1</li>
            <br/>
            <li>Hypertexto1</li>
            <br/>
            </div>
            <div class="textofinal">
            <li>Hypertexto1</li>
            <br/>
            <li>Hypertexto1</li>
            <br/>
            <li>Hypertexto1</li>
            <br/>
            </div>
        </ul>
     </nav>

    
</body>
</html>