<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return</title>
    <link rel="shortcut icon" href="/images/Logo.png">
    <meta name= "viewport" content= "width=device-wid th, initial-scale=1">
    <script src="https://kit.fontawesome.com/b846d156b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productCartEmpty.css">
</head>
<body>
       <!-- header   -->
    <%- include('../partials/header.ejs') %>
    <!-- <header class="header">
        <nav class="menu-desktop">
            <div class="containe-logo-search-bar-profile-cart">
                <div class="logo"><img src="/images/Logo.png" alt="Logo"></div>
                <div class="products container-search-bar">
                    <select name="all-products" id="all-products">
                        <option value="all-products">All products</option>
                        <option value="headphones">Headphones</option>
                        <option value="computers">Computers</option>
                        <option value="phones">Phones</option>
                    </select>
                    <div class="search-bar">
                        <form action="" method="get">
                            <input type="text" placeholder="Search..." class="search"/>
                            <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass search-icon"></i></button>
                        </form>
                    </div>
                </div>  
                <div class="logos-cart-profile">
                    <ul type="none" class="botones-desktop">
                        <li><a href="login.html" class="profile-nav-desktop" value="profile"><i class="fa-solid fa-circle-user"></i></a></li>
                        <li><a href="cart.html" class="cart-nav-desktop" value="cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul> 
                </div>
            </div>
            
        </nav>
    </header> -->
    
    <main>
        <h2 class="cart-empty">Tu carrito esta vacío</h2>
        <section>
            <div class="arrow">
                <i class="fa-solid fa-arrow-down"></i>
            </div>
            <div class="container-button"><a href="index.html">
                <button class="button">Buscar productos
                <i class="fa-solid fa-circle-plus plus"></i>
                </button></a>
            </div>
            <!-- Footer  -->
    <%- include('../partials/footer.ejs') %>
        </section>
    </main>
</body>
</html>
