<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return</title>
    <meta name= "viewport" content= "width=device-wid th, initial-scale=1">
    <script src="https://kit.fontawesome.com/b846d156b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productList.css">
</head>
<body>
       <!-- header   -->
    <%- include('../partials/header.ejs') %>
    <!-- <header class="header">
        <nav class="menu-desktop">
            <div class="containe-logo-search-bar-profile-cart">
                <div class="logo"><img src="/images/Logo.png" alt="Logo"></div>
                <div class="products container-search-bar">
                    <select name="all-products" id="all-products">
                        <option value="all-products">All products</option>
                        <option value="headphones">Headphones</option>
                        <option value="computers">Computers</option>
                        <option value="phones">Phones</option>
                    </select>
                    <div class="search-bar">
                        <form action="" method="get">
                            <input type="text" placeholder="Search..." class="search"/>
                            <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass search-icon"></i></button>
                        </form>
                    </div>
                </div>  
                <div class="logos-cart-profile">
                    <ul type="none" class="botones-desktop">
                        <li><a href="login.html" class="profile-nav-desktop" value="profile"><i class="fa-solid fa-circle-user"></i></a></li>
                        <li><a href="cart.html" class="cart-nav-desktop" value="cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul> 
                </div>
            </div>
            
        </nav>
    </header> -->
    <h4 class="headline-1">Popular categories</h4>
        <ul class="category" name="category">
            <a class="category-1" href="" name="category-1"><i class="fa-solid fa-tv category-icon"></i></a>
            <a class="category-2" href="" name="category-2"><i class="fa-solid fa-headset category-icon"></i></a>
            <a class="category-3" href="" name="category-3"><i class="fa-solid fa-gamepad category-icon"></i></a>
            <a class="category-4" href="" name="category-4"><i class="fa-brands fa-playstation category-icon"></i></a>
            <a class="category-5" href="" name="category-5"><i class="fa-brands fa-xbox category-icon"></i></a>
            <a class="category-button" href="" name="category-button">All categories</a>
        </ul>
    </h4>
        <section class="new-product" name="new-product">
            <article class="new-product-1" name="new-product-1">
                <h3 class="new-product-discount"><i class="fa-solid fa-heart"></i></h3>
                    <div class="producto">
                        <img src="/images/045496882716-001-310Wx310H.jpeg" alt="playstation">
                        <div class="informacion">
                            <span class="tipo-envio">Envio con normalidad </span>
                            <span class="precio"> $450 </span>
                            <span class="precio-envio" >Envio Gratis </span>
                            <span class="descripcion">Consola NINTENDO SWITCH Lite Azul</span>
                             <div>  <a class="link2" href="productDetail">Ver Producto</a></div>
                             <div class="calificacion">
                                <span> <i class="fa-solid fa-star"></i>
                                <span> <i class="fa-solid fa-star"></i>
                                <span> <i class="fa-solid fa-star"></i>
                               <span> <i class="fa-solid fa-star"></i>
                                <span> 1499 </span>
                               </div>
                           </div>
                        </div>
            </article>
            <section class="new-product" name="new-product">
                <article class="new-product-1" name="new-product-1">
                    <h3 class="new-product-discount"><i class="fa-solid fa-heart"></i></h3>
                        <div class="producto">
                            <img src="/images/hppc.jpg" alt="hp">
                            <div class="informacion">
                                <span class="tipo-envio">Envio con normalidad </span>
                                <span class="precio"> $860 </span>
                                <span class="precio-envio" >Envio Gratis </span>
                                <span class="descripcion">HP PC 259Gb</span>
                                 <div>  <a class="link2" href="productDetail">Ver Producto</a></div>
                                 <div class="calificacion">
                                    <span> <i class="fa-solid fa-star"></i>
                                    <span> <i class="fa-solid fa-star"></i>
                                    <span> <i class="fa-solid fa-star"></i>
                                   <span> <i class="fa-solid fa-star"></i>
                                    <span> 699 </span>
                                   </div>
                               </div>
                            </div>
                </article>
                <section class="new-product" name="new-product">
                    <article class="new-product-1" name="new-product-1">
                        <h3 class="new-product-discount"><i class="fa-solid fa-heart"></i></h3>
                            <div class="producto">
                                <img src="/images/macbok.jpg" alt="macbook">
                                <div class="informacion">
                                    <span class="tipo-envio">Envio con normalidad </span>
                                    <span class="precio"> $550 </span>
                                    <span class="precio-envio" >Envio Gratis </span>
                                    <span class="descripcion">MacBook Air 250GB  </span>
                                     <div>  <a class="link2" href="productDetail">Ver Producto</a></div>
                                     <div class="calificacion">
                                        <span> <i class="fa-solid fa-star"></i>
                                        <span> <i class="fa-solid fa-star"></i>
                                        <span> <i class="fa-solid fa-star"></i>
                                       <span> <i class="fa-solid fa-star"></i>
                                        <span> 949 </span>
                                       </div>
                                   </div>
                                </div>
                    </article>
                    <section class="new-product" name="new-product">
                        <article class="new-product-1" name="new-product-1">
                            <h3 class="new-product-discount"><i class="fa-solid fa-heart"></i></h3>
                                <div class="producto">
                                    <img src="/images/Audi패fonos-Beyerdynamic-DT-990-Pro-PgBlanca.jpeg" alt="Audi패fonos-Beyerdynamic-DT-990-Pro-PgBlanca">
                                    <div class="informacion">
                                        <span class="tipo-envio">Envio con normalidad </span>
                                        <span class="precio"> $349 </span>
                                        <span class="precio-envio" >Envio Gratis </span>
                                        <span class="descripcion">Audi패fonos Beyerdynamic DT 990</span>
                                         <div>  <a class="link2" href="productDetail">Ver Producto</a></div>
                                         <div class="calificacion">
                                            <span> <i class="fa-solid fa-star"></i>
                                            <span> <i class="fa-solid fa-star"></i>
                                            <span> <i class="fa-solid fa-star"></i>
                                           <span> <i class="fa-solid fa-star"></i>
                                            <span> 569 </span>
                                           </div>
                                       </div>
                                    </div>
                        </article>
                        <section class="new-product" name="new-product">
                            <article class="new-product-1" name="new-product-1">
                                <h3 class="new-product-discount"><i class="fa-solid fa-heart"></i></h3>
                                    <div class="producto">
                                        <img src="/images/6901443434787-001-310Wx310H.jpg" alt="huaweipc">
                                        <div class="informacion">
                                            <span class="tipo-envio">Envio con normalidad </span>
                                            <span class="precio"> $850 </span>
                                            <span class="precio-envio" >Envio Gratis </span>
                                            <span class="descripcion"> Computador Port치til HUAWEI 14" Pulgadas - Matebook </span>
                                             <div>  <a class="link2" href="productDetail">Ver Producto</a></div>
                                             <div class="calificacion">
                                                <span> <i class="fa-solid fa-star"></i>
                                                <span> <i class="fa-solid fa-star"></i>
                                                <span> <i class="fa-solid fa-star"></i>
                                               <span> <i class="fa-solid fa-star"></i>
                                                <span> 699 </span>
                                               </div>
                                           </div>
                                        </div>
                            </article>
            


       
            <!-- Footer  -->
    <%- include('../partials/footer.ejs') %>
        </section>
    </main>
</body>
</html>