<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return</title>
    <meta name= "viewport" content= "width=device-wid th, initial-scale=1">
    <script src="https://kit.fontawesome.com/b846d156b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/productList.css">
</head>
<body>
       <!-- header   -->
    <%- include('../partials/header.ejs') %>
    <!-- <header class="header">
        <nav class="menu-desktop">
            <div class="containe-logo-search-bar-profile-cart">
                <div class="logo"><img src="/images/Logo.png" alt="Logo"></div>
                <div class="products container-search-bar">
                    <select name="all-products" id="all-products">
                        <option value="all-products">All products</option>
                        <option value="headphones">Headphones</option>
                        <option value="computers">Computers</option>
                        <option value="phones">Phones</option>
                    </select>
                    <div class="search-bar">
                        <form action="" method="get">
                            <input type="text" placeholder="Search..." class="search"/>
                            <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass search-icon"></i></button>
                        </form>
                    </div>
                </div>  
                <div class="logos-cart-profile">
                    <ul type="none" class="botones-desktop">
                        <li><a href="login.html" class="profile-nav-desktop" value="profile"><i class="fa-solid fa-circle-user"></i></a></li>
                        <li><a href="cart.html" class="cart-nav-desktop" value="cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul> 
                </div>
            </div>
            
        </nav>
    </header> -->
        <div class="producto">
            <img src="/images/playstation.png" alt="playstation">
            <div class="informacion">
                <span class="tipo-envio">Envio con normalidad </span>
                <span class="precio"> $550 </span>
                <span class="precio-envio" >Envio Gratis </span>
                <span class="descripcion">Sony PlayStation 3 Slim 250GB 
                 color charcoal black </span>
                 <div class="calificacion">
                     <span> <i class="fa-solid fa-star"></i>
                     <span> <i class="fa-solid fa-star"></i>
                     <span> <i class="fa-solid fa-star"></i>
                    <span> <i class="fa-solid fa-star"></i>
                     <span> 1299 </span>
                    </div>
                </div>
                  <div class="producto">
                    <img src="/images/macbok.jpg" alt="macbook">
                    <div class="informacion">
                        <span class="tipo-envio">Envio con normalidad </span>
                        <span class="precio"> $850 </span>
                        <span class="precio-envio" >Envio Gratis </span>
                        <span class="descripcion">Macbook Air 1313 </span>
                         <div class="calificacion">
                             <span> <i class="fa-solid fa-star"></i>
                             <span> <i class="fa-solid fa-star"></i>
                             <span> <i class="fa-solid fa-star"></i>
                            <span> <i class="fa-solid fa-star"></i>
                             <span> 1339 </span>
                            </div>
                        </div>
                        <div class="producto">
                            <img src="/images/playstation.png" alt="playstation">
                            <div class="informacion">
                                <span class="tipo-envio">Envio con normalidad </span>
                                <span class="precio"> $550 </span>
                                <span class="precio-envio" >Envio Gratis </span>
                                <span class="descripcion">Sony PlayStation 3 Slim 250GB 
                                 color charcoal black </span>
                                 <div class="calificacion">
                                     <span> <i class="fa-solid fa-star"></i>
                                     <span> <i class="fa-solid fa-star"></i>
                                     <span> <i class="fa-solid fa-star"></i>
                                    <span> <i class="fa-solid fa-star"></i>
                                     <span> 1299 </span>
                                    </div>
                                </div>
                                <div class="producto">
                                    <img src="/images/playstation.png" alt="playstation">
                                    <div class="informacion">
                                        <span class="tipo-envio">Envio con normalidad </span>
                                        <span class="precio"> $550 </span>
                                        <span class="precio-envio" >Envio Gratis </span>
                                        <span class="descripcion">Sony PlayStation 3 Slim 250GB 
                                         color charcoal black </span>
                                         <div class="calificacion">
                                             <span> <i class="fa-solid fa-star"></i>
                                             <span> <i class="fa-solid fa-star"></i>
                                             <span> <i class="fa-solid fa-star"></i>
                                            <span> <i class="fa-solid fa-star"></i>
                                             <span> 1299 </span>
                                            </div>
                                        </div>
            <!-- Footer  -->
    <%- include('../partials/footer.ejs') %>
        </section>
    </main>
</body>
</html>