
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/vistaAdmin.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>VistaAdministrador</title>
</head>
<body>
    <!-- header -->
    <%- include('../partials/header.ejs') %>
    
    </br>
    <div class="conteiner-principal">
        <button class="botton"><i class="far fa-edit"></i></button>
        <button class="bottonEliminar"><i class="fas fa-ban"></i></button>
    </div>
</br>
<div class="conteiner-principal">
    <button class="botton"><i class="far fa-edit"></i></button>
    <button class="bottonEliminar"><i class="fas fa-ban"></i></button>
</div>
</br>
<div class="conteiner-principal">
    <button class="botton"><i class="far fa-edit"></i></button>
    <button class="bottonEliminar"><i class="fas fa-ban"></i></button>
</div>
</br>
<div class="conteiner-principal">
    <button class="botton"><i class="far fa-edit"></i></button>
    <button class="bottonEliminar"><i class="fas fa-ban"></i></button>
</div>
</br>
<div class="conteiner-principal">
    <button class="botton"><i class="far fa-edit"></i></button>
    <button class="bottonEliminar"><i class="fas fa-ban"></i></button>
</div>
</br>
<div class="conteiner-principal">
    <button class="botton"><i class="far fa-edit"></i></button>
    <button class="bottonEliminar"><i class="fas fa-ban"></i></button>
</div>
    

    <!-- Footer  -->
    <%- include('../partials/footer.ejs') %>
</body>
</html>