<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Producto Mobile</title>
    <link rel="stylesheet" href="/styles/stylessDetalleProducto.css"></link>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/16958e3fbc.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <nav class="parte-arriba">
            <ul class="segundo">
                <li><img src="./design/Logo.png" class="Logo"></li>
                <li><i class="fas fa-times-circle"></i></li>
            </ul>
    </nav>
  </header>

  <section class="conteiner">
    <div><img src="./imagenes/PrimerComponente.jpg" alt="Imagen1" class="imagen"></div>
    <div> <ul class="Titulo-descripction">
                 <li><h3>Motherboard Asus</h3></li>
                 <li><h6>Plataforma: AMD
                        Capacidad máxima soportada de la memoria RAM: 128 GB
                        Chipsets: AMD B450.....</h6></li>
                     </ul> </div>
   </section>  
     <footer>
     <nav class="botones-abajo">
        <ul class="primerboton">
            <li class="tamanioicono"><i class="fas fa-home-alt"></i></li>
            <li><i class="fas fa-heart"></i></li>
            <li><i class="fas fa-shopping-cart"></i></li>
            <li><i class="fas fa-user-circle"></i></li>
        </ul>
    </nav>
</footer>
    
</body>
</html>