<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Link -->
    <link href="/css/index.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Home</title>
</head>
<body>
    <header>
        <!-- Logo -->
        <div>
            <img alt="Logo" class="logo" src="/images/Logo.png">
        </div>
        <!-- Top Row -->
        <form action="" class="search-menu-1" method="get" name="search-menu-1">
            <input class="search-bar" name="search-bar" type="text"/>
            <!-- <input class="magnifying-glass" for="search-menu" name="magnifying-glass" type="submit" value=""/> -->
            <button class="magnifying-glass" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button class="filter" type="submit">
                <i class="fa-solid fa-filter"></i>
            </button>
        </form>
        <!-- Bottom Row -->
            <ul class="category">
                <a class="category-1" href=""><i class="fa-solid fa-desktop"></i><p>Desktop</p></a>
                <a class="category-3" href=""><i class="fa-solid fa-keyboard"></i><p>Keyboard</p></a>
                <a class="category-4" href=""><i class="fa-solid fa-computer-mouse"></i><p>Mouse</p></a>
                <a class="category-2" href=""><i class="fa-solid fa-mobile-button"></i><p>Mobile</p></a>
                <a class="category-5" href="">Category 5</a>
            </ul>
        </form>
    </header>
    <main>
        <h2 class="headline">Offers you can't miss!</h2>
        <section>
            <!-- Product 1 -->
            <article class="product-1" name="product-1">
                <h3 class="product-discount">50%</h3>
                <div>
                    <img alt="" class="product-image" src="">
                </div>
                <h4 class="product-title">Product Name</h4>
                <h4 class="product-price">U$D 999.99</h4>
                <a class="product-button" href="">View Detail</a>
            </article>
            <!-- Product 2 -->
            <article class="product-2" name="product-2">
                <h3 class="product-discount">20%</h3>
                <div>
                    <img alt="" class="product-image" src="">
                </div>
                <h4 class="product-title">Product Name</h4>
                <h4 class="product-price">U$D 750.00</h4>
                <a class="product-button" href="">View Detail</a>
            </article>
            <!-- Product 3 -->
            <article class="product-3" name="product-3">
                <h3 class="product-discount">20%</h3>
                <div>
                    <img alt="" class="product-image" src="">
                </div>
                <h4 class="product-title">Product Name</h4>
                <h4 class="product-price">U$D 750.00</h4>
                <a class="product-button" href="">View Detail</a>
            </article>
        </section>
    </main>
    <footer>
        <!-- Fixed Row -->
        <div class="navigation-bar" name="navigation-bar">
            <a class="navigation-bar-button" href="" type="submit">
                <i class="fa-solid fa-house navigation-bar-icon"></i>
            </a>
            <a class="navigation-bar-button" href="" type="submit">
                <i class="fa-solid fa-heart navigation-bar-icon"></i>
            </a>
            <a class="navigation-bar-button" href="" type="submit">            
                <i class="fa-solid fa-cart-shopping navigation-bar-icon"></i>
            </a>
            <a class="navigation-bar-button" href="" type="submit">
                <i class="fa-solid fa-user navigation-bar-icon"></i>
            </a>
            </div>
    </footer>
</body>
</html>

