<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Link -->
    <link href="/css/index.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> -->

    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Home</title>
</head>
<body>
    <header>
        <!-- Logo -->
        <div>
            <img alt="Logo" class="logo" src="/images/Logo.png">
        </div>
        <!-- 1st Search Menu -->
        <form action="" class="search-menu-1" method="get" name="search-menu-1">
            <input class="search-bar" name="search-bar" type="text"/>
            <!-- <input class="magnifying-glass" for="search-menu" name="magnifying-glass" type="submit" value=""/> -->
            <button class="magnifying-glass" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
            <button class="filter" type="submit">
                <i class="fa-solid fa-filter"></i>
            </button>
        </form>
        <!-- 2nd Search Menu -->
        <form action="" method="get" name="search-menu-2">
            <ul class="category">
                <button class="category-1" type="submit">Category 1</button>
                <button class="category-2" type="submit">Category 2</button>
                <button class="category-3" type="submit">Category 3</button>
                <button class="category-4" type="submit">Category 4</button>
                <button class="category-5" type="submit">Category 5</button>
            </ul>
        </form>
    </header>
    <main>
        <h2 class="headline">Offers you can't miss!</h2>
        <section>
            <!-- 1st Featured Product -->
            <form action="" class="featured-product-1" method="get" name="featured-product-1">
                <h3 class="featured-product-discount">50%</h3>
                <div>
                    <img alt="" class="featured-product-image" src="">
                </div>
                <h4 class="featured-product-title">Product Name</h4>
                <h4 class="featured-product-price">U$D 999.99</h4>
                <button class="featured-product-button" type="submit">View Detail</button>
            </form>
            <!-- 2nd Featured Product -->
            <form action="" class="featured-product-2" method="get" name="featured-product-2">
                <h3 class="featured-product-discount">20%</h3>
                <div>
                    <img alt="" class="featured-product-image" src="">
                </div>
                <h4 class="featured-product-title">Product Name</h4>
                <h4 class="featured-product-price">U$D 750.00</h4>
                <button class="featured-product-button" type="submit">View Detail</button>
            </form>
            <!-- 3rd Featured Product -->
            <form class="featured-product-3" name="featured-product-3">
                <h3 class="featured-product-discount">20%</h3>
                <div>
                    <img alt="" class="featured-product-image" src="">
                </div>
                <h4 class="featured-product-title">Product Name</h4>
                <h4 class="featured-product-price">U$D 750.00</h4>
                <button class="featured-product-button" type="submit">View Detail</button>
            </form>
        </section>
    </main>
    <footer>
        <!-- Navigation Bar -->
        <form action="" class="navigation-bar" method="get" name="navigation-bar">
            <div>
                <button class="navigation-bar-button" type="submit">
                    <i class="fa-solid fa-house navigation-bar-icon"></i>
                </button>
                <button class="navigation-bar-button" type="submit">
                    <i class="fa-solid fa-heart navigation-bar-icon"></i>
                </button>
                <button class="navigation-bar-button" type="submit">            
                    <i class="fa-solid fa-cart-shopping navigation-bar-icon"></i>
                </button>
                <button class="navigation-bar-button" type="submit">
                    <i class="fa-solid fa-user navigation-bar-icon"></i>
                </button>
            </div>
        </form>
    </footer>
</body>
</html>