<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Return</title>
    <meta name= "viewport" content= "width=device-wid th, initial-scale=1">
    <script src="https://kit.fontawesome.com/b846d156b8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/productCartFull.css">
</head>
<body>
    <header class="header">
        <nav class="menu-desktop">
            <div class="containe-logo-search-bar-profile-cart">
                <div class="logo"><img src="" alt="Logo"></div>
                <div class="products container-search-bar">
                    <select name="all-products" id="all-products">
                        <option value="all-products">All products</option>
                        <option value="headphones">Headphones</option>
                        <option value="computers">Computers</option>
                        <option value="phones">Phones</option>
                    </select>
                    <div class="search-bar">
                        <form action="" method="get">
                            <input type="text" placeholder="Search..." class="search"/>
                            <button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass search-icon"></i></button>
                        </form>
                    </div>
                </div>  
                <div class="logos-cart-profile">
                    <ul type="none" class="botones-desktop">
                        <li><a href="login.html" class="profile-nav-desktop" value="profile"><i class="fa-solid fa-circle-user"></i></a></li>
                        <li><a href="cart.html" class="cart-nav-desktop" value="cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul> 
                </div>
            </div>
            
        </nav>
    </header> 
    <main>
        <div class="container-boxes-desktop">
            <div class="boxes"><img src="img.jpg" alt="producto" class="image"> <p class="nombre-producto">Nombre</p><p class="price">$100</p></div>
            <div class="boxes"><img src="img.jpg" alt="producto" class="image"> <p class="nombre-producto">Nombre</p><p class="price">$100</p></div>
            <div class="boxes"><img src="img.jpg" alt="producto" class="image"> <p class="nombre-producto">Nombre</p><p class="price">$100</p></div>
            <form action="home" method="get">
                <div class="boxes empty"><i class="fa-solid fa-circle-plus plus-icon"></i></a>
                    <div class="container-button-continue"><a href="home.html"><button type="submit" class="button-continue">Seguir comprando<i class="fa-solid fa-chevron-right right-arrow"></i></button></a></div>
                </div>
            </form>
        </div>   
        <h2 class="h2-only-phone">Mi carrito:</h2>
        <div class="container-boxes-phone">
            <div class="boxes-phone"><img src="img..jpg" alt="producto" class="image"> <p class="nombre-producto">Nombre</p><p class="price">$100</p></div>
            <div class="boxes-phone"><img src="img..jpg" alt="producto" class="image"> <p class="nombre-producto">Nombre</p><p class="price">$100</p></div>
            <div class="boxes-phone"><img src="img..jpg" alt="producto" class="image"> <p class="nombre-producto">Nombre</p><p class="price">$100</p></div>
            <form action="home" method="get">
                    <div class="container-button-continue-phone"><a href="index.html"><button type="submit" class="button-continue-phone">Seguir comprando<i class="fa-solid fa-chevron-right right-arrow"></i></button></a></div>
            </form>
        </div>
        <p class="total-price-phone">Total: $</p>
        <div class="container-button-end-shop-phone">
            <button type="submit" class="button-end-shop-phone">Finalizar compra<i class="fa-solid fa-chevron-right right-arrow"></i></button>
        </div>
            <div class="container-button-end-shop">
                <button type="submit" class="button-end-shop">Finalizar compra<i class="fa-solid fa-chevron-right right-arrow"></i></button>
            </div>
            <div class="navigation-bar" name="navigation-bar">
                <a class="navigation-bar-button" href="" type="submit">
                    <i class="fa-solid fa-house navigation-bar-icon"></i>
                </a>
                <a class="navigation-bar-button" href="" type="submit">
                    <i class="fa-solid fa-heart navigation-bar-icon"></i>
                </a>
                <a class="navigation-bar-button" href="" type="submit">            
                    <i class="fa-solid fa-cart-shopping navigation-bar-icon"></i>
                </a>
                <a class="navigation-bar-button" href="" type="submit">
                    <i class="fa-solid fa-user navigation-bar-icon"></i>
                </a>
                </div>
        </section>
    </main>
</body>
</html>
