/* Selector Universal */

* {
  box-sizing: border-box;
}

/* PRUEBA */
.img-index {
  background-color: rgb(12, 12, 82);
}
.burbuja {
  border-radius: 50%;
  background: #fff;
  opacity: 0.3;
  position: absolute;
  bottom: -1000;
  animation: burbujas 6s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cuadrado {
  border: solid rgb(230, 136, 152) 7px;
  height: 40px;
  width: 40px;
  margin: 0px auto;
}
.circulo {
  border: solid red 8px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0px auto;
}
.triangulo {
  height: 100px;
  width: 100px;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
}
.triangulo:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\25b3";
  color: green;
  font-size: 60px;
  line-height: 100px;
  text-align: center;
}
.x {
  height: 100px;
  width: 100px;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
}
.x:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\2715";
  font-size: 60px;
  color: blue;
  line-height: 100px;
  text-align: center;
}
.joystick {
  font-size: 50px;
}
.celular {
  content: "&#128241";
}
.burbuja:nth-child(1) {
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 6s;
}
.burbuja:nth-child(2) {
  width: 100px;
  height: 100px;
  left: 25%;
  animation-duration: 3s;
}
.burbuja:nth-child(3) {
  width: 100px;
  height: 100px;
  left: 60%;
  animation-duration: 8s;
}
.burbuja:nth-child(4) {
  width: 100px;
  height: 100px;
  left: 80%;
  animation-duration: 4s;
}
.burbuja:nth-child(5) {
  width: 100px;
  height: 100px;
  left: 45%;
  animation-duration: 7s;
}
@keyframes burbujas {
  0% {
    bottom: 0;
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    bottom: 100vh;
    opacity: 0;
  }
}
/* Fin de prueba */
.image {
  width: auto;
  height: auto;
}

.slider {
  width: 100%;
  margin: 0;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 400%;

  animation: cambio 10s infinite alternate;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
}
.slider p {
  font-size: 4rem;
  color: #ffffff;
  position: absolute;
  top: 20%;
  right: 50%;
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0%;
  }
  40% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -100%;
  }
}
/* profile */
.btn-carrito {
  width: 2000px;
  border: none;
  color: white;
  font-size: 15px;
  background: #3a506b;
  border-radius: 8px;
  padding: 9px;
  cursor: pointer;
  text-decoration: none;
}
/* Etiqueta (A-Z) */
html {
  height: 100%;
}
body {
  font-family: "Mulish";
  margin-bottom: 50px;
  padding: 20px;
  background: linear-gradient(
    180deg,
    rgb(127, 138, 136) 0%,
    rgb(160, 161, 163) 50%,
    rgb(127, 138, 136) 100%
  );
}
.body {
  background-color: rgb(11 19 43);
}

.carusel-bosstrap {
  object-fit: contain;
}
.card-bosstrap {
  width: 16rem;
  transition: all 300ms;
}
.card-bosstrap:hover {
  transform: scale(1.1);
}

.img-bosstrap {
  height: 20vh;
  width: 20vw;
  object-fit: contain;
}
.ver-detalle {
  border: none;
  color: white;
  font-size: 15px;
  background: #3a506b;
  border-radius: 8px;
  padding: 9px;
  cursor: pointer;
  text-decoration: none;
}
.ver-detalle:hover {
  color: #ffffff;
  background: #293a50;
}

/* Clase (A-Z) */

.bottom-navigation-bar {
  background: rgba(58, 80, 107, 1);
  border-radius: 230px;
  bottom: 10px;
  display: flex;
  height: 50px;
  justify-content: space-evenly;
  left: 9%;
  position: fixed;
  width: 80%;
  z-index: 10;
}

.bottom-navigation-bar-button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 10%;
}

.bottom-navigation-bar-icon {
  color: #ffffff;
  font-size: 16px;
  margin-top: 13px;
  padding: 5px;
  transition: transform 0.5s;
}

.category {
  display: flex;
  justify-content: flex-start;
  padding-inline: 0;
  position: relative;
}

.category-1,
.category-2,
.category-3,
.category-4,
.category-5 {
  align-items: center;
  background: rgb(12, 12, 82);
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  font-size: 14px;
  height: 45px;
  justify-content: center;
  list-style: none;
  margin-right: 15px;
  text-align: center;
  text-decoration: none;
  width: 45px;
}

.category-button {
  bottom: 67px;
  color: #ffffff;
  font-size: 12px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
}

.headline-1,
.headline-2,
.headline-3 {
  color: #ffffff;
  font-weight: bold;
}

.headline-1 {
  margin-top: 40px;
}

.headline-2 {
  margin-bottom: 20px;
}

.headline-3 {
  margin-bottom: 20px;
  margin-top: 5px;
}

.logo {
  display: none;
}

.magnifying-glass {
  align-items: center;
  background: #ffffff;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  color: #000000;
  display: flex;
  font-size: 16px;
  height: 32.5px;
  justify-content: flex-start;
  margin-bottom: 20px;
  padding-right: 10px;
}

.new-product,
.trending-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.new-product-detail,
.trending-product-detail {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(58, 80, 107, 0.75) 0%,
    rgba(11, 19, 43, 0.75) 100%
  );
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 15px;
  max-width: 250px;
  padding: 1%;
  position: relative;
  text-decoration: none;
  width: 60%;
}

.new-product-discount {
  align-items: center;
  background: linear-gradient(
    45deg,
    rgba(11, 19, 43, 0.1) 0%,
    rgba(250, 0, 0, 1) 100%
  );
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  left: 5%;
  position: absolute;
  top: 5%;
  width: 50px;
}

.new-product-image,
.trending-product-image {
  height: 75%;
  object-fit: contain;
  max-height: 150px;
  width: 75%;
}

.new-product-name,
.new-product-price,
.trending-product-name,
.trending-product-price {
  align-items: center;
  color: #ffffff;
  display: flex;
  font-size: 14px;
  justify-content: center;
  width: 85%;
}

.new-product-name,
.trending-product-name {
  background: linear-gradient(rgba(11, 19, 43, 1) 0%, rgba(0, 0, 0, 0.3) 100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 3%;
}

.new-product-price,
.trending-product-price {
  background: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 3%;
  padding-top: 3%;
}

.right-column {
  display: none;
}

.search-bar {
  align-items: center;
  background: #ffffff;
  border: 1px solid olivedrab;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  height: 32.5px;
  margin-bottom: 20px;
  margin-left: 4%;
  width: 85%;
}

.search-filter {
  display: none;
}

.search-menu {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.wallpaper {
  margin-top: 10px;
  position: relative;
}

.wallpaper-background {
  border-radius: 10px;
  height: 75%;
  object-fit: cover;
  width: 100%;
  z-index: 1;
}

.wallpaper-option-1,
.wallpaper-option-2,
.wallpaper-option-3 {
  display: none;
}

/* Pseudo Selectores (A-Z) */

.category-1:hover,
.category-2:hover,
.category-3:hover,
.category-4:hover,
.category-5:hover {
  animation: vibration 0.5s linear;
}

.navigation-bar-button:hover .navigation-bar-icon {
  transform: rotate(180deg) scale(0.1, 0.1);
}

.wallpaper-button::before {
  background: linear-gradient(
    180deg,
    rgba(11, 19, 43, 1) 0%,
    rgba(58, 80, 107, 1) 100%
  );
  border-radius: 5px;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: opacity 0.25s;
  top: 0;
  z-index: -1;
}

.wallpaper-button:hover::before {
  opacity: 1;
}

/* Animaciones (A-Z) */

@keyframes vibration {
  0% {
    transform: translateX(3px);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(-3px);
  }
}

/* Media Querys (A-Z) */

@media (min-width: 768px) {
  body {
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 85px;
    padding: 0;
  }

  .bottom-navigation-bar {
    display: none;
  }

  .category-1,
  .category-2,
  .category-3,
  .category-4,
  .category-5 {
    border-radius: 15px;
    width: 15%;
  }

  .category-1 {
    margin-left: 15px;
  }

  .category-button {
    margin-right: 15px;
  }

  .category-icon {
    font-size: 14px;
  }

  .headline-1,
  .headline-2,
  .headline-3 {
    font-size: 16px;
    margin-left: 15px;
    margin-top: 30px;
  }

  .logo {
    border-radius: 10px;
    display: block;
    height: 110px;
    left: 2.5%;
    position: absolute;
    top: -20px;
    width: 110px;
  }

  .magnifying-glass {
    align-items: center;
    color: #000000;
    display: flex;
    justify-content: flex-end;
    left: 66.5%;
    position: absolute;
    top: 20px;
    width: 4%;
  }

  .right-column {
    align-items: center;
    border-left: solid 1px #000000;
    display: flex;
    justify-content: center;
    height: 70px;
    right: 0;
    position: absolute;
    width: 22.5%;
    z-index: 2;
  }

  .right-column-dropdown-menu {
    color: #ffffff;
    font-size: 16px;
    margin: 0px 7.5px;
  }

  .login-header {
    margin-right: 10%;
    display: flex;
    font-size: 18px;
  }
  .login-icon {
    color: #ffffff;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10%;
  }
  .register-header {
    display: flex;
    font-size: 18px;
  }
  .search-bar {
    border-radius: 0;
    left: 26%;
    position: absolute;
    top: 20px;
    width: 38%;
  }

  .search-filter {
    align-items: center;
    background: #ffffff;
    border: none;
    border-bottom-left-radius: 5px;
    border-right: solid 1px #000000;
    border-top-left-radius: 5px;
    color: #000000;
    display: flex;
    font-size: 12px;
    font-weight: bold;
    height: 32.5px;
    justify-content: center;
    left: 17.5%;
    margin-left: 1.5%;
    position: absolute;
    text-decoration: none;
    top: 20px;
    width: 14%;
    z-index: 2;
  }

  .search-filter-button {
    color: #000000;
    margin-left: 10px;
  }

  .top-navigation-bar {
    background: linear-gradient(
      180deg,
      rgba(11, 19, 43, 1) 0%,
      rgb(22, 1, 24) 50%,
      rgb(12, 12, 82) 100%
    );
    /* background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%); */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .top-navigation-bar-button {
    align-items: center;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
  }

  .top-navigation-bar-favorite-button {
    display: none;
    text-decoration: none;
  }

  .top-navigation-bar-icon {
    color: #ffffff;
    font-size: 16px;
    padding: 0 10px;
  }

  .trending-product {
    margin-left: 15px;
  }

  .trending-product-image {
    height: 250px;
  }

  .wallpaper {
    margin-right: 0;
  }

  .wallpaper-background {
    border-radius: 15px;
    height: 250px;
    margin-top: -0.7%;
    width: 100%;
  }

  .wallpaper-button {
    font-size: 12px;
    left: 7.5%;
    position: relative;
    top: 70%;
    width: 17.5%;
    z-index: 2;
  }

  .wallpaper-option-1,
  .wallpaper-option-2,
  .wallpaper-option-3 {
    background: linear-gradient(
      180deg,
      rgba(58, 80, 107, 1) 0%,
      rgba(11, 19, 43, 1) 100%
    );
    border-radius: 50%;
    bottom: 7.5%;
    display: block;
    height: 30px;
    margin: 0;
    position: absolute;
    width: 30px;
    z-index: 3;
  }

  .wallpaper-option-1 {
    background: #ffffff;
    left: 45%;
  }

  .wallpaper-option-2 {
    left: 50%;
  }

  .wallpaper-option-3 {
    left: 55%;
  }
}

@media (min-width: 992px) {
  .headline-3 {
    margin-top: 10px;
  }

  .logo {
    height: 120px;
    top: -25px;
    width: 120px;
  }

  .magnifying-glass {
    left: 59.5%;
  }

  .right-column {
    width: 31.5%;
  }

  .search-filter {
    font-size: 12px;
    left: 15%;
  }

  .search-bar {
    left: 26%;
    width: 30%;
  }

  .top-navigation-bar-favorite-button {
    color: #ffffff;
    display: block;
    margin: 0px 10px;
    text-decoration: none;
  }
}

@media (min-width: 1131px) {
  .logo {
    height: 140px;
    width: 140px;
  }

  .magnifying-glass {
    height: 37.5px;
    left: 62%;
    top: 27.5px;
    width: 3%;
  }

  .new-product-detail,
  .trending-product-detail {
    max-width: 400px;
  }

  .trending-product-price {
    padding-bottom: 6%;
  }

  .right-column {
    height: 90px;
  }

  .search-bar {
    height: 37.5px;
    left: 22%;
    top: 27.5px;
    width: 36%;
  }

  .search-filter {
    height: 37.5px;
    justify-content: center;
    left: 12.5%;
    top: 27.5px;
    width: 12%;
  }

  .top-navigation-bar {
    border-radius: 0;
    height: 90px;
    justify-content: center;
  }

  .top-navigation-bar-button {
    margin: 0;
  }

  .wallpaper {
    margin-top: 100px;
  }

  .wallpaper-background {
    border-radius: 0;
    height: 350px;
  }

  .wallpaper-button {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .magnifying-glass {
    left: 67.5%;
  }

  .right-column {
    width: 25%;
  }

  .search-bar {
    width: 41.5%;
  }

  .top-navigation-bar-button {
    margin: 5px;
  }

  .top-navigation-bar-favorite-button {
    margin: 0 20px;
  }
}
