/* Selector Universal */

* {
    box-sizing: border-box;
}

/* Etiqueta (A-Z) */

body {
    background: linear-gradient(180deg, rgba(11, 19, 43, 1) 0%, rgba(58, 80, 107, 1) 50%, rgba(111, 255, 233, 1) 100%);
    font-family: "Mulish";
    margin-bottom: 195px;
    padding: 25px;
}

/* Clase (A-Z) */

.category {
    display: flex;
    justify-content: flex-start;
    padding-inline: 0px;
    position: relative;
}

.category-1,
.category-2, 
.category-3, 
.category-4, 
.category-5 {
    background: linear-gradient(180deg, rgba(58, 80, 107, 1) 0%, rgba(11, 19, 43, 1) 100%);
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 14px;
    height: 45px;
    list-style: none;
    margin-right: 15px;
    padding-top: 13.5px;
    text-align: center;
    text-decoration: none;
    transition: ;
    width: 45px;
}

.category-button {
    bottom: 67px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none;
    transition: color 0.25s;
}

.headline-1, 
.headline-2, 
.headline-3 {
    color: #FFFFFF;
    font-weight: bold;
}

.headline-1 {
    margin-top: 25px;
}

.headline-2, 
.headline-3 {
    margin-bottom: 25px;
}

.logo {
    border-radius: 5px;
    display: none;
    height: 100px;
    margin-bottom: 15px;
    width: 100px;
}

.magnifying-glass {
    background: #FFFFFF;
    border: none;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: #0B132B;
    font-size: 16px;
    margin-bottom: 20px;
    margin-right: 1%;
    padding: 10px 15px;
}

.navigation-bar {
    background: rgba(58, 80, 107, 1);
    border-radius: 230px;
    bottom: 10px;
    display: flex;
    height: 50px;
    justify-content: space-evenly;
    left: 10%;
    position: fixed;
    width: 80%;
    z-index: 10;
}

.navigation-bar-button {
    display: flex;
    justify-content: center;
    width: 10%;
}

.navigation-bar-icon {
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 13px;
    padding: 5px;
    transition: transform 0.5s;
}

.new-product {
    display: flex;
}

.new-product-1, 
.new-product-2 {
    margin-left: 10px;
    position: relative;
}

.new-product-3 {
    display: none;
}

.new-product-button, 
.new-product-discount {
    background-color: #0B132B;
    color: #FFFFFF;
    position: absolute;
}

.new-product-button {
    background: linear-gradient(180deg, rgba(11, 19, 43, 1) 0%, rgba(58, 80, 107, 1) 100%);
    border: solid 1px #000000;
    border-radius: 5px;
    bottom: 15px;
    font-size: 13px;
    padding: 5px;
    right: 10px;
    text-decoration: none;
}

.new-product-discount {
    background: linear-gradient(180deg, rgba(11, 19, 43, 1) 0%, rgba(58, 80, 107, 1) 100%);
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    left: -13px;
    padding: 7px 0px;
    position: absolute;
    text-align: center;
    transition: all 0.5s;
    top: -25px;
    width: 30px;
}

.new-product-image {
    border-radius: 10px;
    width: 95%;
}

.new-product-price, 
.new-product-title {
    color: #FFFFFF;
    left: 10px;
    position: absolute;
}

.new-product-price {
    bottom: 0px;
    font-size: 14px;
}

.new-product-title {
    bottom: 20px;
    font-size: 12px;
}

.search-bar {
    background: #FFFFFF;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 20px;
    margin-left: 3%;
    width: 85%;
}

.search-menu-1 {
    display: flex;
}

.trending-product-1 {
    margin-bottom: 40px;
    margin-left: 7%;
    margin-right: 5%;
    position: relative;
}

.trending-product-border-1 {
    background: linear-gradient(180deg, rgba(58, 80, 107, 1) 0%, rgba(111, 255, 233, 1) 100%);
    border-radius: 10px;
    height: 135px;
    left: 24px;
    position: absolute;
    top: -14px;
    width: 90%;
    z-index: 2;
}

.trending-product-border-2 {
    background: linear-gradient(180deg, rgba(58, 80, 107, 1) 0%, rgba(111, 255, 233, 1) 100%);
    border-radius: 10px;
    height: 135px;
    left: 39px;
    position: absolute;
    top: -27px;
    width: 90%;
    z-index: 1;
}

.trending-product-discount {
    background: linear-gradient(180deg, rgba(58, 80, 107, 1) 0%, rgba(11, 19, 43, 1) 100%);
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 18px;
    height: 45px;
    left: 3px;
    margin-left: 22px;
    margin-top: 23px;
    padding: 11px 12.5px;
    position: absolute;
    top: -10px;
    width: 45px;
    z-index: 4;
}

.trending-product-image {
    border-radius: 10px;
    height: 135px;
    margin-left: 10px;
    position: absolute;
    width: 90%;
    z-index: 3;
}

.wallpaper {
    display: flex;
    margin: 10px 0px;
    position: relative;
}

.wallpaper-background {
    border-radius: 10px;
    height: 110px;
    margin-top: 25px;
    width: 95%;
    z-index: 3;
}

.wallpaper-border-1 {
    background: linear-gradient(180deg, rgba(11, 19, 43, 1) 0%, rgba(58, 80, 107, 1) 100%);
    border-radius: 10px;
    bottom: 15px;
    height: 110px;
    left: 15px;
    position: absolute;
    width: 95%;
    z-index: 2;
}

.wallpaper-border-2 {
    background: linear-gradient(180deg, rgba(11, 19, 43, 1) 0%, rgba(58, 80, 107, 1) 100%);
    border-radius: 10px;
    bottom: 30px;
    height: 110px;
    left: 30px;
    position: absolute;
    width: 95%;
    z-index: 1;
}

.wallpaper-button {
    background: linear-gradient(180deg, rgba(58, 80, 107, 1) 0%, rgba(11, 19, 43, 1) 100%);
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    justify-self: center;
    left: 30px;
    padding: 18px 15px;
    position: absolute;
    text-decoration: none;
    top: 65px;
    z-index: 4;
}

/* Pseudo Selectores (A-Z) */

.category-1:hover, 
.category-2:hover, 
.category-3:hover, 
.category-4:hover, 
.category-5:hover {
    animation: vibration 0.5s linear;
}

.navigation-bar-button:hover .navigation-bar-icon {
    transform: rotate(180deg) scale(0.1, 0.1);
}

.wallpaper-button::before {
    background: linear-gradient(180deg, rgba(11, 19, 43, 1) 0%, rgba(58, 80, 107, 1) 100%);
    border-radius: 10px;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    transition: opacity 0.25s;
    top: 0;
    z-index: -1;
}

.wallpaper-button:hover::before {
    opacity: 1;   
}

/* Animaciones (A-Z) */

@keyframes vibration {
    0% { transform: translateX(3px); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    100% { transform: translateX(-3px); }
}

/* Media Querys (A-Z) */

@media (min-width:769px) {

    .wallpaper-background, 
    .wallpaper-border-1, 
    .wallpaper-border-2 {
        height: 300px;
        width: 97.5%;
    }

    .wallpaper-border-1 {
        bottom: 15px;
        left: 15px;
    }

    .wallpaper-border-2 {
        bottom: 30px;
        left: 30px;
    }

    .wallpaper-button {
        top: 254px;
        left: 30px;
        position: absolute;
    }

}

