*{
    box-sizing: border-box;
}

body {
        background: linear-gradient(180deg, rgba(11, 19, 43, 1) 0%, rgba(58, 80, 107, 1) 50%, rgba(111, 255, 233, 1) 100%);
        font-family: "Mulish";
        padding: 20px;
        margin-bottom: 40%;
    
       
}
header {
   
    font-family:"Mulish";
   
}
img {
    border-radius: 5px;
    height: 100px;
    margin-bottom: 15px;
    width: 100px;

}
.cornerheader {
    color: rgb(244, 244, 244) ;
    text-align:center;
    font-family: "Mulish";
    float: right;
    position: relative;
    bottom:100px 
}
.link-header {
    color: white;
    text-decoration:none;
    font-family: "Mulish";
    font-weight: bold;
    width: 100%;
    max-width: 150px;
    margin: 5px;
    text-align: center;
    
}

.link-header:hover {
    color:#5BC0BE 
}
 .link-header2 {
     text-decoration: none;
     font-weight:900;
     color: #002855;
 }
 .link-header2:hover {
    color:#5BC0BE 
 }

h1{
    text-align:center;
    color:#fcfcfc;


}
.form-login{
    height: 300px;
    max-width: 600px;
    background-color: #fcfcfc;
    border-radius: 7px;
    margin: auto;
    position: relative;
    top: 20px;
    font-family: "Mulish";
    text-align: center;
    
}
.form-titulo {
    color:#002855;
    margin: auto;
    margin-bottom: 25px;
    font-weight: bold;
    text-align: center;
}

.sinborde {
    border: 0;
}
.placeholder{
    text-align: center;
}
.input-contenedor {
    margin-bottom:20px;
    border: 1px solid #002855;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    

}
.icon {
    color:#002855;
    size: 50px;
}

.link-form {
    color:#002855;
    font-family: sans-serif;
    font-weight: bold;
    text-decoration: none;

    ;
}
.link-form:hover {
    color:#5BC0BE 
}
.button {
    border:none;
    color:white;
    font-size: 20px;
    background:#002855;
    border-radius: 4px;
    padding: 9px;
    cursor:pointer;
    width: 90%;
    margin:20px;
  
}
.button:hover {
    background-color: #5BC0BE
}
p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
}


@media(win-width:768px)
{.header {
    background-color:#1a2537;
    height: 100px;
    width:100%;
    padding: 10px;
}
.link-header {
    color: white;
    text-decoration:none;
    font-weight: 600;
    margin-top: 17px;
}
.link-header:hover {
    color: cadetblue;
}
.formulario {
        background: rgba(253, 251, 251);
        margin-top:150px;
        margin-left:100px;
        margin-right:100px;
        border-radius: 7%;
}
}
