* {
    box-sizing: border-box;
}

body{
    background-color: #002855;
}
.main-header{   
     background-color: #002855;
     padding: 10px;
}
.primerboton{
    padding: 0px;
    display: flex;
    justify-content: space-around;
}

.fa-home-alt{
    display: flex;
    align-items: center;
    width: 150px;
    height: 100px;
    font-size: 250%;
    text-align: start;
}
.fa-heart{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 250%;
}
.fa-shopping-cart{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 250%;
}
.fa-user-circle{
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 250%;
}

.tamanioicono{
    display:flex;
    align-items: flex-start;
}

.botones-abajo ul {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border-radius: 20px;
}
.botones-abajo1 ul {
    background-color: rgb(255, 255, 255);
    list-style: none;
    border-radius: 20px;
}
.parte-arriba ul{
    padding: 0px;
    background-color: #00489b;
    list-style: none;
    border-radius: 20px;
}

.segundo{
    width: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.Logo{
    padding: 0px;
    display: flex;
    border-radius: 20px;
    width: 150px;
    height: 150px;
}
.fa-times-circle{
    padding : 10px;
    color:rgb(255, 255, 255);
    font-size: 300%;
}
.conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
h1{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 250%;
    color:rgb(202, 202, 202);
    font-family: 'Mulish', sans-serif;
}
h2{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 150%;
    color:rgb(202, 202, 202);
    font-family: 'Mulish', sans-serif;
}
.imagen{
    border : solid;
    border-color: rgb(57, 57, 58);
    border-radius: 20px;
    margin: auto;
    display: flex;
    width: 80%;
    height: 80%;
}

@media (min-width: 768px){
    .main-header{
        display: flex;
    }
    .parte-arriba{
        width: 100%;
        height: 100%;
    }
    .conteiner{
        display: block;
    }
    .botones-abajo ul{
        display: flex;
    }
}