/* Selector Universal */

* {
    box-sizing: border-box;
}

/* Etiqueta (A-Z) */

body {
    background: linear-gradient(180deg, rgba(11, 19, 43, 1) 0%, rgba(58, 80, 107, 1) 50%, rgba(111, 255, 233, 1) 100%);
    font-family: "Oxygen";
    height: 100vh;
    margin-bottom: 50px;
    width: 100vw;
}

/* Clase (A-Z) */

.bank-promotion-icon {
    color: rgba(250, 250, 250, 0.9);
    font-size: 35px;
}

.bank-promotion-icon-row {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    margin-bottom: 0.25rem;
    margin-top: 0.75rem;
}

.bank-promotion-list {
    align-items: flex-start;
    color: rgba(250, 250, 250, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    margin-bottom: 0.25rem;
    margin-top: 0;
    padding-left: 0;
}

.bank-promotion-list-item {
    margin: 0.25rem 0rem;
}

.bank-promotion-title {
    color: rgba(250, 250, 250, 0.9);
    margin-bottom: 0;
}

.buy-button {
    align-self: center;
    background: linear-gradient(180deg, rgba(11, 19, 43, 0.5) 0%, rgba(58, 80, 107, 1) 100%);
    border: solid 1px rgba(0, 0, 0, 1);
    border-radius: 7.5px;
    color: rgba(250, 250, 250, 0.9);
    font-family: "Oxygen";
    font-size: 18px;
    font-weight: bold;
    height: 3rem;
    margin-top: 2.5rem;
    width: 70%;
}

.payment-method-link {
    color: darkblue;
    text-decoration: none;
}

.price-with-discount {
    color: rgba(250, 250, 250, 0.9);
    font-size: 30px;
    font-weight: bold;
    margin-top: 0.25rem;
}

.price-without-discount {
    color: rgba(250, 250, 250, 0.4);
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration: line-through;
}

.product-brand-icon {
    color: rgba(250, 250, 250, 0.9);
    font-size: 40px;
}

.product-description {
    color: rgba(250, 250, 250, 0.7);
    margin-top: 1rem;
}

.product-detail {
    align-self: start;
    justify-self: start;
    padding-bottom: 10%;
    padding-left: 10%;
}

.product-discount {
    align-items: center;
    background: rgba(250, 0, 0, 0.7);
    border-bottom: solid 1px rgba(0, 0, 0, 1);
    border-bottom-left-radius: 25px;
    border-left: solid 1px rgba(0, 0, 0, 1);
    border-top: solid 1px rgba(0, 0, 0, 1);
    border-top-left-radius: 25px;
    color: rgba(250, 250, 250, 0.9);
    display: flex;
    font-size: 22px;
    font-weight: bold;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 10rem;
}

.product-image {
    padding: 10%;
    width: 75%;
}

.product-name {
    color: rgba(250, 250, 250, 0.9);
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
}

/*
.shipping-method-icon-1, 
.shipping-method-icon-2 {
    color: rgba(250, 250, 250, 0.8);
    font-size: 25px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
}

.shipping-method-section {
    height: 25%;
    margin-left: 2.5rem;
}

.shipping-method-title {
    color: rgba(250, 250, 250, 0.8);
    font-size: 16px;
}
*/

.webpage {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.webpage-left-column, 
.webpage-right-column {
    background: linear-gradient(180deg, rgba(58, 80, 107, 0.5) 0%, rgba(11, 19, 43, 0.5) 100%);
    border: solid 1px rgba(0, 0, 0, 1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.webpage-left-column {
    align-items: center;
    height: 70vh;
    justify-content: center;
    margin-left: 5rem;
    width: 50%;
}

.webpage-right-column {
    align-items: flex-start;
    height: 90vh;
    justify-content: space-between;
    margin-right: 5rem;
    padding: 2rem;
    position: relative;
    width: 35%;
}