* {
    box-sizing: border-box;
}

body{
    margin: auto;
    background: linear-gradient(180deg, rgba(11, 19, 43, 1) 0%, rgba(58, 80, 107, 1) 50%, rgba(111, 255, 233, 1) 100%);
}


.parte-arriba ul{
    position: fixed;
    padding: 0px;
    margin: -10px;
    background: linear-gradient(180deg, rgba(58, 80, 107, 1) 100%, rgba(111, 255, 233, 1) 500%,  rgba(111, 255, 233, 1) 0%);
    list-style: none;
    border: solid 1px;
    border-radius: 20px;
    border-color: black;
}
.parte-arriba2 ul{
    display:none;
    position: fixed;
    padding: 0px;
    margin: -10px;
    background: linear-gradient(180deg, rgba(58, 80, 107, 1) 100%, rgba(111, 255, 233, 1) 500%,  rgba(111, 255, 233, 1) 0%);
    list-style: none;
    border: solid 1px;
    border-radius: 20px;
    border-color: black;
}

.segundo2{
    width: 100%;
    display: none;
    justify-content: space-between;
}


.segundo{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Logo{
    padding: 0px;
    display: flex;
    margin:0;
    border-radius: 20px;
    width: 120px;
    height: 120px;
}
.fa-times-circle{
    padding : 10px;
    color:rgb(255, 255, 255);
    font-size: 300%;
}
.conteiner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
h1{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 250%;
    color:rgb(202, 202, 202);
    font-family: 'Mulish', sans-serif;
}
h2{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 150%;
    color:rgb(202, 202, 202);
    font-family: 'Mulish', sans-serif;
}
.imagen{
    border : solid;
    border-color: rgb(57, 57, 58);
    border-radius: 20px;
    margin: 200px auto auto auto;
    display: flex;
    width: 80%;
    height: 80%;
}
.navigation-bar {
    background: linear-gradient(180deg, rgba(11, 19, 43, 1) 0%, rgba(58, 80, 107, 1) 100%);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    bottom: 0px;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
    left: 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navigation-bar-button {
    transition: all 0.45s;
}

.navigation-bar-icon {
    color: #6FFFE9;
    font-size: 18px;
    margin-top: 17px;
    padding: 5px;
}

.navigation-bar-button:hover {
    transform: rotate(180deg) scale(0.1, 0.1);
    scale :initial;
}
p{
    display: flex;
    margin: 0px 10px 50px 10px;
    width: 100%;
    height: 100%;
    color:rgb(202, 202, 202);
    font-family: 'Mulish', sans-serif;
}
.text{
    display:none;
}
.fa-arrow-alt-circle-left{
    display:flex;
    font-size: 200%;
}
.iconosCompras{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom:150px;
}
.fa-cart-plus{
    padding: 20px;
    align-items: center;
    display:flex;
    font-size: 300%;
    color: azure;
}
.fa-cart-plus:hover{
    display:flex;
    color: rgb(0, 204, 255);
}
.fa-bookmark{
    display:flex;
    align-items: center;
    padding: 20px;
    font-size: 300%;
    color: azure;
}
.fa-bookmark:hover{
    display:flex;
    align-items: center;
    padding: 20px;
    color: rgb(0, 204, 255);
}
@media (min-width: 768px){
    h1{
        color:rgba(11, 19, 43, 1)
    }
    .navigation-bar {
        display:none;
    }
    .busqueda{
        margin:auto;
        width: 50%;
        height: 50%;
    }
    
    .busquedamodelos{
        width: 50%;
        height: 50%;
    }
    .parte-arriba2 ul{
        display:flex;
        position: fixed;
        padding: 0px;
        margin: -10px;
        background: linear-gradient(180deg, rgba(58, 80, 107, 1) 100%, rgba(111, 255, 233, 1) 500%,  rgba(111, 255, 233, 1) 0%);
        list-style: none;
        border: solid 1px;
        border-radius: 20px;
        border-color: black;
    }
    .orden{
        font-size: 150%;
        display: flex;
        align-items: center;
        margin-right: 150px;
    }
    
    .segundo2{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .parte-arriba{
        display:none;
    }
    .imagen{
        border : solid;
        border-color: rgb(57, 57, 58);
        border-radius: 20px;
        margin: center;
        display: flex;
        width: 50%;
        height: 50%;
    }
    p{
        display: flex;
        margin: 200px 10px 150px 10px;
        width: 100%;
        height: 100%; 
        color:rgba(11, 19, 43, 1);
        font-family: 'Mulish', sans-serif;
    }
    .nav-pc{
    margin: 0;
    padding: 20px;
    background: linear-gradient(180deg, rgb(17 32 50) 100%, rgba(111, 255, 233, 1) 500%, rgba(111, 255, 233, 1) 0%);
    list-style: none;
    border: solid 1px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    }
    .fa-user:before {
        padding: 10px;
    }
    .fa-heart:before {
        padding: 10px;
    }
    .fa-home-alt:before, .fa-home-lg-alt:before, .fa-home:before, .fa-house:before {
       padding: 10px;
    }
    .fa-cart-shopping:before, .fa-shopping-cart:before {
        padding: 10px;
    }
    .text{
        color: aliceblue;
        display:flex;
        position: relative;
    }
    .textocentro{
        color: aliceblue;
        position: absolute;
        right: 50%;
        top: 15%;
    }
    .textofinal{
        color: aliceblue;
        position: absolute;
        right: 10%;
        top: 15%;
    }

    .conteiner{
        flex-direction: row;
        height: 100%;
        width: 100%;
    }
    .parte-arriba{
        width: 100%;
        height: 100%;
    }
    .navigation-bar-icon{
        font-size: 150%;
    }
    .soloMobile{
        display:none;
    }
    
.fa-cart-plus{
    padding: 40px;
    align-items: center;
    display:flex;
    font-size: 400%;
    color: azure;
}
.fa-cart-plus:hover{
    display:flex;
    padding: 40px;
    color: rgb(0, 204, 255);
}
.fa-bookmark{
    display:flex;
    align-items: center;
    padding: 40px;
    font-size: 400%;
    color: azure;
}
.fa-bookmark:hover{
    display:flex;
    align-items: center;
    padding: 40px;
    color: rgb(0, 204, 255);
}
}

