* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: linear-gradient(
    180deg,
    rgb(246, 247, 252) 0%,
    rgb(188, 189, 190) 50%,
    rgb(127, 138, 136) 100%
  );
  font-family: "Mulish";
}
/* .btn-producto-carrito {
  margin-top: 2vh;
} */
.offcanvas-body {
  width: max-content;
}
.contenedor-perfil {
  display: inline-block;
  margin-left: -10vw;
}
h3 {
  color: gray;
  justify-content: flex-start;
  text-align-last: start;
  margin-left: 10%;
}
.email-profile {
  color: gray;
  justify-content: flex-start;
  text-align-last: start;
  margin-left: 10%;
}

.seccion {
  display: inline-block;
  margin: auto;
}
.iman {
  width: 50%;
  height: 40%;
  border-radius: 50%;
  border-color: blanchedalmond;
}

.perfil {
  text-align-last: center;
  background: #ffff;
  border-radius: 1vh;
  margin: 100px;
  font-family: "Mulish";
  text-align: center;
  box-shadow: 0px 10px 10px -6px black;
}
.offcanvas.show {
  width: max-content;
}

.perfil-seccion {
  text-align-last: center;
  height: 35vh;
  width: 390px;
  background: #ffff;
  border-radius: 1vh;
  margin: auto;
  margin-left: 10vh;
  top: 20px;
  font-family: "Mulish";
  text-align: center;
  box-shadow: 0px 10px 10px -6px black;
}

.btn-carrito {
  border: none;
  color: white;
  font-size: 15px;
  background: #3a506b;
  border-radius: 8px;
  padding: 9px;
  cursor: pointer;
  text-decoration: none;
}
.wallpaper-button {
  align-items: center;

  background-color: rgb(12, 12, 82);
  border-radius: 5px;
  bottom: 15%;
  color: #ffffff;
  display: flex;
  font-size: 12px;
  height: 40px;
  justify-content: center;
  left: 10%;
  max-width: 200px;
  padding: 18px 15px;
  position: relative;
  text-decoration: none;
  z-index: 2;
}
hr {
  margin: auto;
  width: 80%;
}
.card-desktop {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-phone {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.desktop-card {
  display: none;
}
@media (min-width: 700px) {
  .contenedor-perfil {
    display: flex;
    justify-content: center;
  }

  .offcanvas.show {
    width: max-content;
  }
  .perfil-seccion {
    text-align-last: center;
    height: 35vh;
    width: 390px;
    background: #ffff;
    border-radius: 1vh;
    margin: auto;
    margin-left: 10vh;
    top: 20px;
    font-family: "Mulish";
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
  }

  .perfil {
    text-align-last: center;
    height: 40%;
    width: 40%;
    background: #ffff;
    border-radius: 1vh;
    margin: 100px;
    font-family: "Mulish";
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
  }
  .btn-productos-profile {
    display: flex;
    margin-bottom: 5vh;
  }
  .btn-producto-misProductos {
    margin-left: 2vh;
  }
  .btn-producto-carrito {
    margin-left: 2vh;
  }
  .btn-primary {
    height: 10vh;
  }

  .desktop-card {
    display: none;
  }
  .card-phone {
    display: block;
  }
}
@media (min-width: 1131px) {
  .contenedor-perfil {
    display: flex;
    justify-content: center;
  }
  .offcanvas.show {
    width: max-content;
  }
  .perfil-seccion {
    text-align-last: center;
    height: 35vh;
    width: 390px;
    background: #ffff;
    border-radius: 1vh;
    margin: auto;
    margin-left: 10vh;
    top: 20px;
    font-family: "Mulish";
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
  }

  .perfil {
    text-align-last: center;
    height: 30%;
    width: 30%;
    background: #ffff;
    border-radius: 1vh;
    margin: 100px;
    font-family: "Mulish";
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
  }
  .desktop-card {
    display: block;
  }
  .card-phone {
    display: none;
  }
}

@media (min-width: 1200px) {
  .contenedor-perfil {
    display: flex;
    justify-content: center;
  }
  .offcanvas.show {
    width: max-content;
  }
  .perfil-seccion {
    text-align-last: center;
    height: 35vh;
    width: 390px;
    background: #ffff;
    border-radius: 1vh;
    margin: auto;
    margin-left: 10vh;
    top: 20px;
    font-family: "Mulish";
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
  }

  .perfil {
    text-align-last: center;
    height: 30%;
    width: 30%;
    background: #ffff;
    border-radius: 1vh;
    margin: 100px;
    font-family: "Mulish";
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
  }
  .desktop-card {
    display: block;
  }
}
