* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Mulish";
}
.contenedor-perfil {
  display: inline-block;
  justify-content: center;
}
h3 {
  color: gray;
  justify-content: flex-start;
  text-align-last: start;
  margin-left: 10%;
}
.seccion {
  display: inline-block;
  margin: auto;
}
.iman {
  width: 50%;
  height: 40%;
  border-radius: 50%;
  border-color: blanchedalmond;
}

.perfil {
  text-align-last: center;
  background: #ffff;
  border-radius: 1vh;
  margin: 100px;
  font-family: "Mulish";
  text-align: center;
  box-shadow: 0px 10px 10px -6px black;
}

.perfil-seccion {
  text-align-last: center;
  height: 35vh;
  width: 390px;
  background: #ffff;
  border-radius: 1vh;
  margin: auto;
  margin-left: 10vh;
  top: 20px;
  font-family: "Mulish";
  text-align: center;
  box-shadow: 0px 10px 10px -6px black;
}
.btn-carrito {
  border: none;
  color: white;
  font-size: 15px;
  background: #3a506b;
  border-radius: 8px;
  padding: 9px;
  cursor: pointer;
  text-decoration: none;
}
.wallpaper-button {
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(58, 80, 107, 1) 0%,
    rgba(11, 19, 43, 1) 100%
  );
  border-radius: 5px;
  bottom: 15%;
  color: #ffffff;
  display: flex;
  font-size: 12px;
  height: 40px;
  justify-content: center;
  left: 10%;
  max-width: 200px;
  padding: 18px 15px;
  position: relative;
  text-decoration: none;
  z-index: 2;
}
hr {
  margin: auto;
  width: 80%;
}

@media (min-width: 700px) {
  .contenedor-perfil {
    display: flex;
    justify-content: center;
  }
  .perfil-seccion {
    text-align-last: center;
    height: 35vh;
    width: 390px;
    background: #ffff;
    border-radius: 1vh;
    margin: auto;
    margin-left: 10vh;
    top: 20px;
    font-family: "Mulish";
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
  }

  .perfil {
    text-align-last: center;
    height: 40%;
    width: 40%;
    background: #ffff;
    border-radius: 1vh;
    margin: 100px;
    font-family: "Mulish";
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
  }
}
@media (min-width: 1131px) {
  .contenedor-perfil {
    display: flex;
    justify-content: center;
  }

  .perfil-seccion {
    text-align-last: center;
    height: 35vh;
    width: 390px;
    background: #ffff;
    border-radius: 1vh;
    margin: auto;
    margin-left: 10vh;
    top: 20px;
    font-family: "Mulish";
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
  }

  .perfil {
    text-align-last: center;
    height: 30%;
    width: 30%;
    background: #ffff;
    border-radius: 1vh;
    margin: 100px;
    font-family: "Mulish";
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
  }
}

@media (min-width: 1200px) {
  .contenedor-perfil {
    display: flex;
    justify-content: center;
  }

  .perfil-seccion {
    text-align-last: center;
    height: 35vh;
    width: 390px;
    background: #ffff;
    border-radius: 1vh;
    margin: auto;
    margin-left: 10vh;
    top: 20px;
    font-family: "Mulish";
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
  }

  .perfil {
    text-align-last: center;
    height: 30%;
    width: 30%;
    background: #ffff;
    border-radius: 1vh;
    margin: 100px;
    font-family: "Mulish";
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
  }
}
