<!DOCTYPE html>
<html lang="en">
<head>
    <link href="/css/index.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Home</title>
</head>
<body>
    <header>
        <div class="top-navigation-bar">
            <div name="left-column">
                <img alt="" class="logo" src="/images/Background.png">
            </div>
            <form action="" class="search-menu" method="get" name="search-meni">
                <a class="search-filter" href="" name="search-filter">
                    All products<i class="fa-solid fa-chevron-down search-filter-button"></i>
                </a>
                <input class="search-bar" name="search-bar" type="text"/>   
                <button class="magnifying-glass" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <div class="right-column">
                <a class="top-navigation-bar-button" href="" name="top-navigation-bar-button">
                    <i class="fa-solid fa-user top-navigation-bar-icon"></i>
                    <i class="fa-solid fa-chevron-down right-column-dropdown-menu"></i>
                </a>
                <a class="top-navigation-bar-button" href="" name="top-navigation-bar-button">
                    <i class="fa-solid fa-cart-shopping top-navigation-bar-icon"></i>
                    <i class="fa-solid fa-chevron-down right-column-dropdown-menu"></i>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="wallpaper" name="wallpaper">
            <img alt="" class="wallpaper-background" src="/images/Wallpaper.jpg">
            <a class="wallpaper-button" href="" name="wallpaper-button">Take me there</a>
        </div>
        <h4 class="headline-1">Popular categories</h4>
        <ul class="category" name="category">
            <a class="category-1" href="" name="category-1"><i class="fa-solid fa-tv category-icon"></i></a>
            <a class="category-2" href="" name="category-2"><i class="fa-solid fa-headset category-icon"></i></a>
            <a class="category-3" href="" name="category-3"><i class="fa-solid fa-gamepad category-icon"></i></a>
            <a class="category-4" href="" name="category-4"><i class="fa-brands fa-playstation category-icon"></i></a>
            <a class="category-5" href="" name="category-5"><i class="fa-brands fa-xbox category-icon"></i></a>
            <a class="category-button" href="" name="category-button">All categories</a>
        </ul>
        <h4 class="headline-2">New arrivals</h4>
        <section class="new-product" name="new-product">
            <article class="new-product-1" name="new-product-1">
                <h3 class="new-product-discount"><i class="fa-solid fa-bookmark"></i></h3>
                <a href="" name="new-product-image" type="submit">
                    <img alt="" class="new-product-image" src="/images/Wallpaper.jpg">
                </a>
                <h3 class="new-product-title">Product Name</h3>
                <h3 class="new-product-price">U$D 999.99</h3>
            </article>
            <article class="new-product-2" name="new-product-2">
                <h3 class="new-product-discount"><i class="fa-solid fa-bookmark"></i></h3>
                <a href="" name="new-product-image" type="submit">
                    <img alt="" class="new-product-image" src="/images/Wallpaper.jpg">
                </a>
                <h3 class="new-product-title">Product Name</h3>
                <h3 class="new-product-price">U$D 750.00</h3>
            </article>
            <article class="new-product-3" name="new-product-3">
                <h3 class="new-product-discount"><i class="fa-solid fa-tags"></i></h3>
                <a href="" name="new-product-image" type="submit">
                    <img alt="" class="new-product-image" src="">
                </a>
                <h3 class="new-product-title">Product Name</h3>
                <h3 class="new-product-price">U$D 100.00</h3>
            </article>
        </section>
        <h4 class="headline-3">Trending</h4>
        <section class="trending-product" name="trending-product">
            <article class="trending-product-1" name="trending-product-1">
                <a href="" type="submit">
                    <img alt="" class="trending-product-image" src="/images/Wallpaper.jpg">
                </a>
            </article>
        </section>
    </main>
    <footer>
        <div class="bottom-navigation-bar" name="bottom-navigation-bar">
            <a class="bottom-navigation-bar-button" href="" type="submit">
                <i class="fa-solid fa-house bottom-navigation-bar-icon"></i>
            </a>
            <a class="bottom-navigation-bar-button" href="" type="submit">
                <i class="fa-solid fa-heart bottom-navigation-bar-icon"></i>
            </a>
            <a class="bottom-navigation-bar-button" href="" type="submit">            
                <i class="fa-solid fa-cart-shopping bottom-navigation-bar-icon"></i>
            </a>
            <a class="bottom-navigation-bar-button" href="" type="submit">
                <i class="fa-solid fa-user bottom-navigation-bar-icon"></i>
            </a>
            </div>
    </footer>
</body>
</html>