<footer>
    <div class="bottom-navigation-bar" name="bottom-navigation-bar">
        <a class="bottom-navigation-bar-button" href="" type="submit">
            <i class="fa-solid fa-house bottom-navigation-bar-icon"></i>
        </a>
        <a class="bottom-navigation-bar-button" href="" type="submit">
            <i class="fa-solid fa-heart bottom-navigation-bar-icon"></i>
        </a>
        <a class="bottom-navigation-bar-button" href="" type="submit">            
            <i class="fa-solid fa-cart-shopping bottom-navigation-bar-icon"></i>
        </a>
        <a class="bottom-navigation-bar-button" href="" type="submit">
            <i class="fa-solid fa-user bottom-navigation-bar-icon"></i>
        </a>
        </div>
</footer>