    
    <head>
        <link rel="stylesheet" href="/css/productDetail.css"> 
    </head>
    <footer>
        
</br>
</br>
</br>
</br>
</br>

<nav class="text">
    <ul class="nav-pc">
        <li>Hypertexto1</li>
        <br/>
        <li>Hypertexto1</li>
        <br/>
        <li>Hypertexto1</li>
        <br/>
        <div class="textocentro">
        <li>Hypertexto1</li>
        <br/>
        <li>Hypertexto1</li>
        <br/>
        <li>Hypertexto1</li>
        <br/>
        </div>
        <div class="textofinal">
        <li>Hypertexto1</li>
        <br/>
        <li>Hypertexto1</li>
        <br/>
        <li>Hypertexto1</li>
        <br/>
        </div>
    </ul>
 </nav>
</footer>