<header>
    <div class="top-navigation-bar">
        <div name="left-column">
            <img alt="" class="logo" src="/images/Background.png">
        </div>
        <form action="" class="search-menu" method="get" name="search-meni">
            <a class="search-filter" href="" name="search-filter">
                All products<i class="fa-solid fa-chevron-down search-filter-button"></i>
            </a>
            <input class="search-bar" name="search-bar" type="text"/>   
            <button class="magnifying-glass" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <div class="right-column">
            <a class="top-navigation-bar-button" href="" name="top-navigation-bar-button">
                <i class="fa-solid fa-user top-navigation-bar-icon"></i>
                <i class="fa-solid fa-chevron-down right-column-dropdown-menu"></i>
            </a>
            <a class="top-navigation-bar-heart-button" href="" name="top-navigation-bar-button">
                <i class="fa-solid fa-heart top-navigation-bar-icon"></i>
                <i class="fa-solid fa-chevron-down right-column-dropdown-menu"></i>
            </a>
            <a class="top-navigation-bar-button" href="" name="top-navigation-bar-button">
                <i class="fa-solid fa-cart-shopping top-navigation-bar-icon"></i>
                <i class="fa-solid fa-chevron-down right-column-dropdown-menu"></i>
            </a>
        </div>
    </div>
</header>