<header>
    <div class="top-navigation-bar">
        <div class="left-column">
            <a href="/">
                <img alt="" class="logo" src="/images/Background.png">
            </a>
        </div>
        <form action="" class="search-menu" method="get" name="search-menu">
            <a class="search-filter" href="" name="search-filter">
                All products<i class="fa-solid fa-chevron-down search-filter-button"></i>
            </a>
            <input class="search-bar" name="search-bar" type="text"/>
            <button class="magnifying-glass" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <% if(locals.logged) {%>
            <div class="right-column">
                <a class="top-navigation-bar-button" href="/users/profile">
                    Profile
                </a>
                <a class="top-navigation-bar-button" href="/products/agregarProducto">
                    Sell
                </a>
                <a class="top-navigation-bar-favorite-button" href="">
                    Favorites
                    <!-- <i class="fa-solid fa-chevron-down right-column-dropdown-menu"></i> -->
                </a>
            <% } else { %>
                <div class="right-column">
                    <a class="top-navigation-bar-button" href="/users/login">
                        User
                    </a>
             <% }%>
            
            <a class="top-navigation-bar-button" href="">
                <i class="fa-solid fa-bell top-navigation-bar-icon"></i>
            </a>
            <a class="top-navigation-bar-button" href="/products/productCartEmpty">
                <i class="fa-solid fa-cart-shopping top-navigation-bar-icon"></i>
            </a>
        </div>
    </div>
</header>