<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Ingresa</title>
</head>
<body>

    <header>
                <img alt="" class="logo" src="/images/Background.png">
        </div>
    </header>
</head>
<body>
    
    <form action="login" method="post" class="form-login">
        <h1 class =" form-titulo"> Inicia Sesion </h1>


        <div class="input-contenedor">
           <i class="fa-solid fa-user icon"></i>
           <input type="text" name ="email" class="sinborde" placeholder="Correo Electronico" maxlength="15"required/>


        </div>

        <div class="input-contenedor">
            <i class="fa-solid fa-lock icon"></i>
            <input type="password" name= "password" class="sinborde" placeholder="Contraseña" maxlength="8" required/>

         </div>

         <div>
        <label><input type="checkbox" class="checkbox">Recordar mi Contraseña</label>
        </br>
        <br>
         <div>  ¿Olvidaste tu contraseña? <a class="link1" href="passwordrecovery.html">Recuperala haciendo click</a></div>
         <br>
         <div> ¿No tienes cuenta? <a class="link2" href="register">Registrate</a></div>
         <br>
            <div><input type="submit" value="Continuar" class="button"></div>
         
        
        </div>
    
    </form>
    <!-- Footer  -->
    <%- include('../partials/footer.ejs') %>
</body>

</html>