<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/register.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
    

    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Registrate</title>
</head>
<body>
        <header>
            <img alt="" class="logo" src="/images/Background.png">
   
</header>
</head>
<body>
    <form action="register.html" method="post" class="form-register">
        <h1 class =" form-titulo"> Registrate </h1>

        <div class="input-contenedor">
           <i class="fa-solid fa-user icon"></i>
           <input type="text" name ="nombre" class="sinborde" placeholder="Nombre Completo" maxlength="15"required/>


        </div>

        <div class="input-contenedor">
            <i class="fa-solid fa-at icon"></i>
            <input type="text" name="correo" class="sinborde" placeholder="Correo Electronico" maxlength="20"required/>

         </div>

        <div class="input-contenedor">
            <i class="fa-solid fa-lock icon"></i>
            <input type="password" name= "password" class="sinborde" placeholder="Crea Contraseña" maxlength="8" required/>

         </div>
        
         <label><input type="checkbox" class="checkbox">Aceptas nuestras condiciones de uso y política de privacidad</label></br>
         <div>¿Ya tienes cuenta? <a class="link1" href="login">Inicia sesion</a></div>
         <div><input type="submit" value="Continuar" class="button"></div>
         
        
        </div>
    
    </form>
    <!-- Footer  -->
    <%- include('../partials/footer.ejs') %>
</body>

</html>

